*{
  margin:0;
  padding:0;
}

html{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1{
  color: white;
  font-size: 65px;
}
h2{
  text-align: center;
  padding: 35px;
}
h3{
  color: black;
}
a{
  color: white;
  text-decoration: none;
  padding : 20px;
}
/*HERO SECTION*/
#hero{
  background: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}
nav{
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
#menu{
 padding-top: 2%;
}

#bandeau{
  position: absolute;
  bottom: 20%;
  left: 26%;
}
#contenu{
  text-align: center;
}
#contenu a{
  color : rgb(255, 255, 255);
  border : 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 20px;
  transition: all 1s;
  -webkit-transform: rotate(20deg);
}
#contenu a:hover{
  color : rgb(255, 255, 255);
  border : 1px solid rgba(92, 92, 92, 0.8);
  background-color: rgba(92, 92, 92, 0.8); */
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}
.contenu-cta{
  margin-top: 20px;
}
#apropos{
  background-color: white;
  display: flex;
}

#apropos_image{
  padding: 20px;
  flex: 1;
}

#apropos_texte{
  padding: 20px;
  flex: 2;
  text-align: justify;
}

#apropos_image img{
  flex:1;
  max-width: 100%;/*L'image prend au maximum la largeur de son contenant, soit 100% de 1/3*/
}
#services-section{
  background-color: #666;
  color: white;
  padding : 20px;
  text-align: center;
}
#services{
  display : flex;

}
.services_item p{
  text-align: justify;
  padding: 20px;
}
#team{
  display : flex;
  text-align: center;
}
.team_item{
  flex: 1;
}
.team_item img{
  width: 100%;
}
.team_item p{
  text-align: justify;
  padding: 20px;
}
#lead{
  display: flex;
  justify-content: center;
  background-color: #e74c3c;
  color: white;
}
#lead h2{
  color: white;
}
.form{
  padding: 20px;
}

footer{
  display: flex;
  justify-content: center;
}

footer a{
  color: black;
}

footer a:hover{
  color: #e74c3c;
}

.social{
  padding: 20px;
}



#mce-success-response{
  color: white!important;
}

/* Le modal*/
.modal {
  display: none;  /*Caché par défaut*/
  position: fixed; /* Nécessaire pour positionner la DIV au bon endroit */
  z-index: 1; /* Se place au-dessus */
  left: 0;/*Collé au bord gauche*/
  top: 0;/*Collé au bord haut*/



  /* Pour pouvoir faire défiler le contenu */
  overflow: auto;

  background-color: rgba(243,235,72, 0.76); /* Jaune avec une transparence */
  height: 100%; /* Pleine hauteur */
  width: 100%; /* Pleine largeur */
  z-index: 1; /* Se place au-dessus */


}



/* Le Bloc Central*/
.modalBloc{
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  background-color: white;
  color: black;
  border-top: 10px solid black;
}

.modalTextTitle{
  font-size: 60px;
  font-family: 'Lobster', cursive;
}
.modalTextSubtitle{
  font-size: 20px;
}
.modalText img{
  width: 60%;
}


.modalBtn{
  margin: 5%;
}
.modalBtn a{
  color: white;
  background-color:black;
}
.modalBtn a:hover{
  opacity: 0.7;
}

@media screen and (max-width: 414px){
  /*ICI LES PRECEDENTES DECLARATIONS*/
  .modalTextTitle{
    font-size:40px;
  }
  .modalBtn a{
    display: block;
    margin-bottom: 5%;
  }


  #apropos{
   flex-direction: column;
  }/*Ici, on referme la déclaration #apropos*/
  #services{
    flex-direction: column;
  }/*Ici, on referme la déclaration #services*/



}/*Ici, on referme la media query*/
